@using System.Net.Http;
@using Acmion.CommunicatorCms.Core.Settings;
@using Acmion.CommunicatorCms.Core.Actions;
@using Acmion.CommunicatorCms.Core;
@using Acmion.CommunicatorCms;
@using Acmion.CommunicatorCms.Core.Application.FileSystem;

@inject RequestState RequestState;

@{
    //var footerContent = await AppPage.LoadFromUrl(AppUrl.Join(UrlSettings.ContentGeneralUrl, "footer"));
    //await footerContent.Render(this, this.Html);
}

<h1>
    Nofooter
</h1>
