@page

<h1>
    CommunicatorCmsSampleApplication
</h1>

<p>
    This is a CommunicatorCms sample application and demos some of its features.
</p>

<section>
    <h2>
        Features
    </h2>
    <ul>
        <li>
            Dynamic Navigation Menu Generation
        </li>
        <li>
            App Icon
        </li>
        <li>
            App Title
        </li>
        <li>
            Multiple Root Pages
        </li>
    </ul>
</section>
