@{
    var currentPage = await RequestState.GetCurrentPage();
    var currentActiveTopPage = await App.Pages.GetByUrl(AppPath.GetUrlWithMaxNumberOfSlashes(currentPage.PageUrl, 2));
}

@if (currentPage.Properties.ShowSideNavigationMenu)
{
    <div class="side-nav-container">
        <nav class="hn-menu hn-menu-no-focus hn-side hn-height-100">
            <input type="checkbox" class="hn-input-state hn-input-state-nav hn-hide-mobile" id="hn-side-desktop-cb" checked>
            <input type="checkbox" class="hn-input-state hn-input-state-nav hn-hide-desktop" id="hn-side-mobile-cb">
            <div class="hn-nav">
                <div class="hn-section hn-section-body">
                    <label class="hn-item hn-input hn-input-nav hn-hide-desktop page-header-height" for="hn-side-mobile-cb">
                        <span class="hn-link">
                            <span class="hn-icon">
                                <span class="hn-input-default">
                                    <i class="ri-logout-box-r-line"></i>
                                </span>
                                <span class="hn-input-active">
                                    <i class="ri-logout-box-line"></i>
                                </span>
                            </span>
                            <span class="hn-content">
                                Collapse
                            </span>
                        </span>
                    </label>
                    <label class="hn-item hn-input hn-input-nav hn-hide-mobile" for="hn-side-desktop-cb" style="height: 5rem">
                        <span class="hn-link">
                            <span class="hn-icon">
                                <span class="hn-input-default">
                                    <i class="ri-logout-box-r-line"></i>
                                </span>
                                <span class="hn-input-active">
                                    <i class="ri-logout-box-line"></i>
                                </span>
                            </span>
                            <span class="hn-content">
                                Collapse
                            </span>
                        </span>
                    </label>
                    @{
                        @await App.Extensions.HyperNav.RenderCommunicatorCmsNavLayout(currentActiveTopPage, RequestState, "side-nav-cb", false, false, true, 0)

                        var topPages = await currentActiveTopPage.GetSubPages();

                        for (var i = 0; i < topPages.Count; i++)
                        {
                            @await App.Extensions.HyperNav.RenderCommunicatorCmsNavLayout(topPages[i], RequestState, "side-nav-cb" + i, true, false, true, int.MaxValue)
                        }

                    }
                </div>
            </div>

            <label class="hn-overlay hn-hide-desktop" style="z-index: -1" for="hn-side-mobile-cb">
            </label>
        </nav>
    </div>
}