@page

<h1>
    Dynamic Root
</h1>

<p>
    This URL actually exists, but the subpages are "parametrized".
</p>

<a href="some-param0">
    some-param0
</a>

<a href="some-param1">
    some-param1
</a>
