
    <div class="hn-spacer"></div>
    <div class="hn-expand hn-expand-left">
        <input type="checkbox" class="hn-input-state hn-hide-desktop" id="hn-language-cb" >

        <label class="hn-item hn-input" for="hn-language-cb">
            <a class="hn-link">
                <span class="hn-icon">
                    <i class="ri-global-line"></i>
                </span>
                <span class="hn-content" data-hn-content="Language">
                    Language
                </span>
                <span class="hn-spacer"></span>
                <span class="hn-input hn-hide-mobile">
                    <span class="hn-input-default">
                        <i class="ri-add-line"></i>
                    </span>
                    <span class="hn-input-active">
                        <i class="ri-subtract-line"></i>
                    </span>
                </span>
            </a>

            <span class="hn-input hn-hide-desktop">
                <span class="hn-input-default">
                    <i class="ri-add-line"></i>
                </span>
                <span class="hn-input-active">
                    <i class="ri-subtract-line"></i>
                </span>
            </span>

        </label>

        <div class="hn-expand-body" style="min-width: 200px">
            @foreach (var language in App.Settings.Languages)
            {
                <div class="hn-item">
                    <a class="hn-link" href="@RequestState.CurrentAppPage.GetTranslatedUrl(language)">
                        <span class="hn-content">
                            @language.Name
                        </span>
                    </a>
                </div>
            }
        </div>
    </div>